@font-face {
    font-family: "TT Lakes";
    src: url("../font/TTLakes-Regular.eot");
    src: local("TT Lakes Regular"), local("TTLakes-Regular"),
        url("../font/TTLakes-Regular.eot") format("embedded-opentype"),
        url("../font/TTLakes-Regular.woff") format("woff"),
        url("../font/TTLakes-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html {
    box-sizing: border-box;
}
*,*::after,*::before {
    box-sizing: inherit;
}

body{
    font-family: "TT Lakes";
    min-width: 320px;
    overflow-x: hidden;
    margin: 0;
}

h1 {
    margin: 0px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0px;
}

a {
    outline: none;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


.container{
    padding: 0px 16px;
}

@media (min-width:768px) {
    .container {
        padding: 0px 24px;  
    }
}

@media (min-width:1120px) {
    .container {
        padding: 0px 32px;  
    }
}

.header{
    background-color: #FFFFFF;
}

@media(min-width:1120px) {
    .header {
        display: none;
    }
}

.header__container{
    display: flex;
    align-items: center;
    min-height: 88px;
}

.icon {
    width: 40px;
    height: 40px;
}

.header__left-item {
    display: flex;
    margin-right: auto;
    align-items: center;
}

.header__divider_hidden {
    display: none;
}

@media (min-width:768px) {
    .header__divider_hidden {
        display: block;
        margin-right: 0px;
    }
}

.header__contacts-items{
    display: none;
}

@media (min-width: 768px) {
    .header__contacts-items{
        display: flex;
        justify-content: center;
    }
}

.header__menu {
    display: none;
}

.header__right-item{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 132px;
}

.icon:not(:last-child){
    margin-right: 16px;
}

.header__divider {
    margin-right: 20px;
}

.header__logo-icon {
    max-width: 96.55px;
    max-height: 50.81px;
    margin: 0;
   
}

@media(min-width:768px) {
    .header__logo-icon {
        margin-left: 20px;
    }
}

.main {
    min-height: 509px;
    background-color: #F8F8F8;
}

@media (min-width: 1120px) {
    .main {
        min-height: 535px;
    }
}

.main__heading {
    font-size: 28px;
    line-height: 40px;
    color: #1B1C21;
    letter-spacing: -0.6px;
    padding: 24px 0px;
    
}

@media (min-width: 1120px) {
    .main__heading {
        padding: 0;
        
    }
}

.main__heading::before {
    content: "";
    position: absolute;
    left: 0px;
    height: 40px;
    width: 4px;
    background-image: url("../svg/decor/highlight.svg");
}

.main__list {
    display: flex;
    overflow-x: scroll;
    padding-top: 8px;
    margin-bottom: 24px;
    
}
@media (min-width: 1120px) {
    .main__list {
        padding-top: 10px;
    }
}

@media(min-width:1120px) {
    .main__list {
        display: block;
        margin-bottom: 10px;  
    }
}

.main__list-item {
    display: inline-block;
    min-width: fit-content;
    min-height: 40px;
    padding-right: 6vw;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    
}

@media(min-width:1120px) {
    .main__list-item {
        padding-right: 2vw;
    }
    .main__list-item:last-child {
        padding-left: 20px;
    }
}

.main__list-item-link {
    color: #7E7E82;
    margin-bottom: 24px;
}

.main__list-item-link_active {
    padding: 8px;
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

@media(min-width:1120px) {
    .main__list-item-link_active {
        padding-left: 21px;
        padding-right: 21px;
    }
}

.main__list-item-link::after {
    content: "";
    position: absolute;
    right: 0px;
    width: 24px;
    height: 40px;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}

@media(min-width:768px) {
    .main__list-item-link::after {
        content: "";
        position: absolute;
        right: 20px;
        width: 24px;
        height: 40px;
        background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    } 
}

@media (min-width: 1120px) {
    .main__list-item-link::after {
        display: none;
    }
}

.main__feedback-icons {
    display: none;
}

@media(min-width:1120px) {
    .main__feedback-icons {
        display: flex;
        align-items: center;       
        margin-left: auto; 
        
    }

    .main__feedback-link {
        font-family: "TT Lakes";
        font-size: 16px;
        line-height: 24px;
        text-align: right;
        letter-spacing: -0.2px;
        color:#1B1C21;

        margin-right: 8px;
    }

    .main__header {
        display: flex;
        align-items: center;
        padding-top: 42px;
        padding-bottom: 8px;
    }

    .repair {
        margin-right: 32px;
    }

}

.main__content {
    display: block;
}

@media(min-width: 768px) {
    .main__content {
        display: flex;
        justify-content: space-between;
        max-height: 416px;
    }
}

.main__text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}

@media (min-width: 768px) {
    .main__text {
        line-height: 18px;
        max-width: 312px;
    }
    
}

@media (min-width: 1120px) {
    .main__text {
        max-width: 490px;
        margin-left: 2px;
    }
    
}
    

.main__text_visible {
    margin: 0;
    max-height: 90px;
    margin-bottom: 16px;
}

.main__text_visible-768 {
    display:none;
}

@media (min-width: 768px) {
    .main__text_visible-768 {
        display: inline-block;

    }
    
}

.main__text_visible-1120 {
    display: none;
}

@media (min-width: 1120px) {
    .main__text_visible-1120 {
        display: inline;
    }
}
.main__text-continuation {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.main__text-continuation-sign {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: -0.2px;
    color: #1B1C21;
}

.main__text-continuation-icon {
    margin-left: 8px;
    margin-right: 16px;
}

.main__image-box {
    position: relative;
    right: 16px;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .main__image-box {
        position: inherit;
        min-width: 360px;
    }
    
}

@media (min-width: 768px) {
    .image-signboard {
        min-width: inherit;
        border-radius: 4px;
    }
    
}

@media (min-width: 1120px) {
    .image-signboard {
        min-width: 531px;
    }
}