$background-color-main: #f8f8f8;
$background-color-white: #ffffff;

$text-color-black: #1b1c21;
$text-color-grey: #7e7e82;
$text-form: #b5b6bc;
$text-form-pink: #ff3e79;

$font-size-text: 14px;
$font-regular: 'TT Lakes Regular';
$font-medium: 'TT Lakes Medium';
$font-bold: 'TT Lakes Bold';

$screen-xs: 320px;
$screen-sm: 360px;
$screen-md: 768px;
$screen-lg: 1366px;
$screen-xl: 1440px;
